<div class="hero01">
  <div class="image">
    <div class="image-placeholder">
      <img
        src="https://i.ibb.co/40rrwBG/57044-tolle-natur-und-wasser-hintergrundbilder-1920x1080.jpg"
        alt="57044-tolle-natur-und-wasser-hintergrundbilder-1920x1080"
        style="width: 100%"
      />
    </div>
  </div>
  <div class="text-slogan">Stocked up. Refreshed. Ready.</div>
  <div class="content">
    <button class="shopAll" routerLink="/shop-all">Shop All</button>
  </div>
</div>

<!--svg-replacement styled-svg bg-c4c4c4-->
