.login---email_12-248 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #eff2f6;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.rectangle-6_12-249 {
  display: none;
}

.ui-components---login---sign-in-with-social {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: clamp(300px, 80%, 500px);
  padding: 2rem;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 20rem;
  gap: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.ui-components---login---sign-in-with-social:hover {
  transition: 0.5s;
  filter: invert(100%);
  box-shadow: 0 0 0 100em white;
}
.text-login-via-OAuth {
  color: #000000;
  font-weight: 500;
  font-size: clamp(0.875rem, 2vw, 1rem);
  text-align: left;
  white-space: nowrap;
}
.text-login-via-OAuth:hover {
  cursor: pointer;
}

.text-welcome-back_12-255 {
  color: #000000;
  font-weight: 600;
  font-size: clamp(1.25rem, 3vw, 1.875rem);
  text-align: left;
  white-space: nowrap;
}

.frame-29_12-256 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
  box-sizing: border-box;
}

.inputField {
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  width: 99%;
  height: 2.5rem;
  border-radius: 0.4em;
  min-height: 2.5rem;
  border: 2px solid rgba(216, 216, 216, 0.625);
  transition: border 0.4s ease-out;
}

.inputField:hover {
  border: 2px solid #000000;
  transition: border 0.4s;
}

.rememberMe {
  display: flex;
  color: #000000;
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  font-family:
    Public Sans,
    sans-serif;
  letter-spacing: -0.3px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.rememberMe:hover {
  opacity: 0.8;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.forgotPasswd {
  display: flex;
  color: hsl(0, 0%, 0%);
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  font-family:
    Public Sans,
    sans-serif;
  letter-spacing: -0.3px;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  transition: 0.1s;
  width: 50%;
}

.underline {
  display: inline-block;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%;
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}
.underline:hover {
  background-size: 100% 1px;
}

.forgotPasswd:hover {
  cursor: pointer;
  // text-decoration: underline;
  transition: 0.1s;
}

.checkboxStayLoggedIn {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
}

.createAnAccount {
  display: flex;
  color: #000000;
  text-align: right;
  white-space: nowrap;
  margin-left: auto;
}

.createAnAccount:hover {
  cursor: pointer;
}

.navbar_12-286 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-buttons button {
  display: block;
  padding: 0.75rem 1.5rem;
  border: 2px solid #000000;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #000000;
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  font-family:
    Public Sans,
    sans-serif;
  letter-spacing: -0.3px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;
}

.login-buttons button:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  transition: 0.3s;
}

.icon {
  vertical-align: bottom;
}

.iconG {
  vertical-align: sub;
}
