<div class="login---email_12-248">
  <div class="ui-components---login---sign-in-with-social">
    <span class="text-welcome-back_12-255">Welcome Back</span>
    <div class="frame-29_12-256">
      <div class="login-buttons">
        <button [routerLink]="['/login-facebook']">
          <mat-icon class="icon">facebook</mat-icon>
          Continue with Facebook
        </button>
        <button [routerLink]="['/login-google']">
          <mat-icon class="iconG">G</mat-icon>
          Continue with Google
        </button>
        <button [routerLink]="['/login-email']">
          <mat-icon class="icon">email</mat-icon>
          Continue with Email
        </button>
      </div>
    </div>
  </div>
</div>
