<div class="navbar">
  <div class="rightNavFrame">
    @if (isLoggedIn$ | async) {
      <a role="button" tabindex="0" (click)="onLogout()" class="textNavLinks"> Logout </a>
    } @else {
      <a routerLink="/login-email" class="textNavLinks">Login</a>
    }
  </div>
  <div class="leftNavFrame">
    <a routerLink="/" class="textHome">HydroHub</a>
    <a routerLink="/shop" class="textNavLinks">Shop</a>
    <a routerLink="/about" class="textNavLinks">About</a>
    <div class="group-6_5-140">
      <span class="textNavSearch">
        <input
          #navSearchInput
          class="navSearchInput"
          type="search"
          placeholder="Search products..."
          [(ngModel)]="searchText"
          (input)="filterItems()"
        />
        @if (showDropdown) {
          <div class="navSearchSuggestions">
            @for (item of filteredItems; let i = $index; track trackById($index, item)) {
              <div class="navSuggestionItem" (click)="selectItem(item)" [attr.data-index]="i">
                {{ item.title }}
              </div>
            }
          </div>
        }
      </span>
    </div>
    @if (isLoggedIn$ | async) {
      @if (user$.role == 'admin') {
        <a routerLink="/dashboard" class="textNavLinks">Dashboard</a>
      }
    }
  </div>
</div>
