<div class="login---email_12-248">
  <div class="ui-components---login---sign-in-with-social">
    <span class="text-welcome-back_12-255">Welcome!</span>
    <div class="frame-29_12-256">
      <input type="name" placeholder="Name" class="inputField" />
      <input type="email" placeholder="Email" class="inputField" />
      <input type="password" placeholder="Password" class="inputField" />
      <input type="password" placeholder="Password Again" class="inputField" />
    </div>
    <div class="links-container">
      <a class="createAnAccount" [routerLink]="['/']"><span class="underline">Register</span></a>
    </div>
  </div>
</div>
